.body-fansite2 {
    background-image: url('imgLoic/drapeau-loic.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Arial', sans-serif;
    background-color: #005e78; 
    color: #08ceff ; 
    margin: 0;
    padding: 0;
}

.bandeau {
    background-color: #333; 
    padding: 10px; 
}

.menu {
    list-style-type: none; 
    padding: 0; 
    display: flex; 
    justify-content: space-around; 
}

.menu li {
    margin-right: 20px;
    color: white;
}

.menu a {
    color: white; 
    text-decoration: none; 
    padding: 10px 15px; 
    transition: background-color 0.3s; 
}

.menu a:hover {
    background-color: #555; 
}
.sous-menu {
    display: block; 
    padding: 0; 
    list-style: none; 
    margin: 0; 
}
.titre-principal {
    text-align: center;
    color: #000000; 
    font-size: 2.8em;
    margin-bottom: 30px;
    text-transform: uppercase; 
    letter-spacing: 2px; 
}

.sous-titre {
    color:  #08ceff;
    font-size: 2.2em;
    margin-top: 40px;
    margin-bottom: 10px;
    border-bottom: 3px solid #0056b3; 
    padding-bottom: 10px;
}

.sous-sous-titre {
    color:  #08ceff; 
    font-size: 1.8em;
    margin-top: 25px;
    margin-bottom: 10px;
}
.article-sportif {
    background-color: #ffffff; 
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(225, 195, 0); 
    padding: 20px;
    margin: 20px auto;
    max-width: 800px; 
}
.article-sportif img {
    width: 300px;
    height: 300px;
}
.paragraphe {
    margin: 15px 0;
    font-size: 1.1em;
    line-height: 1.8; 
}